<<<<<<< HEAD
.nav-bg-color{
    background-color: palevioletred;
}
.left-column{
    background-color: plum;
}
.right-column{
    background-color: powderblue;
}
.footer{
    background-color: royalblue;
=======
body{
    height:100%;
>>>>>>> da964556ff26efc753e20edd0073d578aeb3381d
}